<h1 class="washing_machines_index_title">Washing Machine Status</h1>

<% @washing_machines.each_with_index do |washing_machines_per_floor, index| %>
    <div class="floor_boxes">
        <%= "#{3 - index}F" %>
        <% washing_machines_per_floor.each do |washing_machine| %>
            <div>
                <div>
                    <%= image_tag 'washing_machine.png', class: "washing_machine_img #{washing_machine.display_image}" %>
                </div>
                <div class="washing_machine_status">
                    <%= washing_machine.status %>
                </div>
            </div>
        <% end %>
    </div>
<% end %>
